body{
    background-image: url(4.jpg);
    
}

.content{
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    margin-left: 440px;
    margin-top: 180px;
    width: 50em;
    /* padding-right: 5px; */
    color: whitesmoke;
}

.content h3{
    margin-left: 250px;
}
.content h1{
    margin-left: 150px;
}
.content p{
    margin-left: 280px;
}

.btn-hi{
    /* border: 2px solid green; */
    margin-left: 720px;
    /* margin-left: 220px; */
}
.btn1{
    /* background-color: green; */
}